@media only screen and (max-width: 450px) /*Mobile View*/{

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.page {
    display: flex;
    flex-wrap: wrap;
    
}

.background {

    width: 100%;
    display: flex;


}

.menu.main, .menu.sub {


    flex-direction: row;
    height: 80px;

}

.imageHolder {

    align-items: center;
    justify-content: center;
    height: 400px;

}

.conveyerBelt {

    height: 80px;


}

.bottomSection {

    flex-direction: column;

}

.timeDisplay {

    height: 150px;

}

.backgroundDisplay {

    height: 150px;


}


}







@media only screen and (min-width: 451px) /*Desktop View*/{

* {


    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    height: 100vh;
    width: 100vw;
}

/*
.background {

    display: flex;
        
}
*/

.page {

    height: 100%;
    width: 100%;
    display: grid;

    grid-template-columns: 1fr 1fr 8fr;
    grid-template-rows: 12fr 1fr 3fr;
}

.menu.main {

    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    
}

.menu.sub {

    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    
}

.imageHolder {

    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: flex;
}

.conveyerBelt {

    grid-column: 3 /4;
    grid-row: 2 / 3;
    display: flex;


}

.bottomSection {

    display: flex;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    align-items: center;
    justify-content: center;
    gap: 30px;


}


.timeDisplay,
.backgroundDisplay {

    
    height: 120px;
    width: clamp(100px, 33%, 400px)  /*50px;*/
    

}


}

/*For both Mobile and Desktop View*/

.backgroundSquare {

    width: 60px;
    height: 60px;
    background-color: orange;
    border-style: solid;
    border-color: black;

}

#red {
    background-color: red;
}

#blue {
    background-color: blue;

}

#green {
    background-color: green;
}

#gold {
    background-color: gold;
}

#silver {
    background-color: silver;
}

#imageBox {

    height: 100%;
    width: 100%;
}